.detailsContainer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  height: 500px;
  margin-top: 40px;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.24);
  width: 40%;
}

.detailsName {
  font-size: 48px;
}

.descriptionContainer2 {
  display: flex;
  flex-direction: column;
}

.detailsImg {
  border-radius: 50%;
}